@page "{tripId:int?}"
@model CapstoneWeb.Pages.TripModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Trip Overview";
}

@Html.AntiForgeryToken()
@Html.Hidden("startDate", Model.CurrentTrip.StartDate.ToShortDateString())
@Html.Hidden("endDate", Model.CurrentTrip.EndDate.ToShortDateString())
@Html.Hidden("tripId", Model.CurrentTrip.TripId)

<div class="container">
    
    <h1>@Model.CurrentTrip.Name</h1>

    <div>
        <button>Profile</button>
        <button>Back To Trips</button>
        <button>Logout</button>
    </div>

    <div>
        <h2>Events</h2>
        <div id="events"></div>
        <button>Add Event</button>
    </div>

    <div id="myCalendar" class="vanilla-calendar">
    </div>
</div>
@section Scripts {
<script src="~/js/vanilla-calendar.js"></script>
<script src="~/js/calendarGenerator.js"></script>
<script src="~/js/calendarDayClick.js"></script>
}


